<head>
    <meta charset="utf-8">
    <title>Evaluacion Continua 3</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>

<body>
    <div class="container-fluid my-3">
        <h2>Tabla Estudiante</h2>
        <app-estudiante></app-estudiante>
    </div>
    <hr>
    <div class="container-fluid my-3">
        <h2>Tabla Docente</h2>
        <app-docente></app-docente>
    </div>
    <hr>
    <div class="container-fluid my-3">
        <h2>Tabla Carrera</h2>
        <app-carrera></app-carrera>
    </div>
    <hr>
    <div class="container-fluid my-3">
        <h2>Tabla Sede</h2>
        <app-sede></app-sede>
    </div>

    <div class="footer-copyright text-center">
        <h1>Diseñado por:</h1>
        <ul class="list-unstyled mb-0">
            <li class="text-dark">Giancarlo Estela Ventura</li>
            <li class="text-dark">Adrian Celis Torres</li>
            <li class="text-dark">Carlos Chumpitaz Linares</li>
            <li class="text-dark">Airon Javier Carranza Díaz</li>
        </ul>
        <h2 class="text-large">Copyright © 2022</h2>
    </div>
</body>



